*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
scroll-behavior:smooth;
}

body{
background:#243b5d;
color:white;
}

/* Glass Navbar */
header{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
z-index:100;
}

nav a{
margin-left:25px;
text-decoration:none;
color:rgb(216, 213, 213);
font-weight:500;
transition:0.3s;
}

nav a:hover{color:#0f9e54;}

.hero{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
animation:fadeIn 1.5s ease;
}

.profile{
width:140px;
height:140px;
border-radius:50%;
border:4px solid #6acb02;
margin-bottom:15px;
animation:float 3s ease-in-out infinite;
}

.btn-group{margin-top:20px;}

.btn{
display:inline-block;
padding:12px 28px;
margin:10px;
border-radius:30px;
text-decoration:none;
color:black;
background:#6aac0c;
transition:0.3s;
}

.glow:hover{
transform:scale(1.1);
box-shadow:0 0 20px #c2c50c;
}

section{
padding:80px 60px;
text-align:center;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
flex-wrap:wrap;
}

.project-card{
background:rgba(235, 232, 233, 0.856);
padding:40px 30px;
border-radius:20px;
width:220px;
transition:0.4s;
}

.project-card span{
display:block;
margin-top:10px;
color:#2c97c1;
opacity:0;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-12px);
box-shadow:0 0 25px #1964b0;
}

.project-card:hover span{opacity:1;}

footer{
padding:20px;
text-align:center;
background:#020617;
}

/* Animations */
@keyframes fadeIn{
from{opacity:0; transform:translateY(30px);}
to{opacity:1; transform:translateY(0);}
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-10px);}
}
